@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,900;1,200;1,400;1,900&display=swap');

$maincolor: #222222;
$primarycolor: #666666;
$middlebgcolor: #FF5437;
$cardbcg:#F2F2F2;